-if flash[:error]
  %h2
    = pluralize(flash[:error].count, "error")
    prohibited this rsvp from being saved:
  %ul
    - flash[:error].each do |k, v|
      %li
        = k
        = v.first


= form_for @rsvp do |f|
  - if @rsvp.errors.any?
    %h2
      = pluralize(@rsvp.errors.count, "error")
      prohibited this rsvp from being saved:
    %ul
      - @rsvp.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.label :names
    %br
    = f.text_field :names

  %p
    = f.label :attending
    %br
    = f.label :yes
    = f.radio_button :attending, "true"
    = f.label :no
    = f.radio_button :attending, "false"

  %p
    = f.label :food_choice
    %br
    = f.label :steak
    = f.radio_button :food_choice, 'Steak'
    = f.label :chicken
    = f.radio_button :food_choice, 'Chicken'
    = f.label :veggie_burger
    = f.radio_button :food_choice, 'Veggie Burger'

  %p
    = f.submit
