%h2 Find Your Invitation

%p
  Your invitation has a 2-character
  %b invitation code
  on it.  Type that in below and we'll get you squared away.

-if flash[:error]
  %strong
    = flash[:error]

= form_tag find_rsvp_rsvps_path do
  = label_tag(:rsvp, "Invitation Code:")
  = text_field_tag(:invite_code)
  = submit_tag("Submit")
