= link_to 'Home', home_index_path

%h1 All rsvps

%table
  %tr
    %th Names
    %th Attending
    %th Food Choice

  - @rsvps.each do |rsvp|
    %tr
      %td= rsvp.names
      %td= rsvp.attending ? 'Yes' : 'No'
      %td= rsvp.food_choice
      %td= link_to 'Show', rsvp_path(rsvp)
      %td= link_to 'Edit', edit_rsvp_path(rsvp)
      %td= link_to 'Delete', rsvp_path(rsvp), method: :delete,
        data: { confirm: 'Are you sure?' }
